<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Tech is power | design & development software website </title>
    <meta name="description" content="Design & Development software website, app mobile, desktop">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <div id="result" style="width: 80%; min-width: 320px; margin: 1em auto 1em">
        <ul>
            <h4>
                <li>
                    We do not obtain any user information without your permission. If we ask for any of your privacy, it will be used only for the purpose of increasing the experience on the website and assisting you in using the functionality of our website.
                </li>
            </h4>
        </ul>
        <ul>
            <h4 class="text-danger">
                <li>
                    Except for cases that violate the law and are required by local authorities to provide.
                </li>
            </h4>
        </ul>
        <ul>
            <h4>
                <li>
                    Also, all your information will not be shared with any third party without your consent! Thanks for reading and using our website!
                </li>
            </h4>
        </ul>
    </div>
    <!-- Footer -->
    <!-- Footer -->
</body>

</html>