<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>hello</title>
	<link rel="stylesheet" href="">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
	<button type="submit">Hello</button>
	<script>
		$.get(`http://${}/swarm.cgi`, {param1: 'u5md5ms60', password: "smartwifi", cmd: "authenticate"}, (data, textStatus, xhr)=>{

		});
		http://undefined/swarm.cgi?user=u5md5ms60&password=smartwifi&cmd=authenticate
	</script>
</body>
</html>